<% provide(:title, '')%>
<% if signed_in? %>
  <%= render 'shared/after_login_home' %>
<% else %>
  <h1>Resume Builder</h1>

  <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
<% end %>
