<h1>Resume<h1>

<br/>
  <h3>Experience</h3>
    <% if @resume.experience.present? %>
      <% @experience = @resume.experience %>
      <% render 'shared/experience_section'%>
    <% end %>
  <h3>Education</h3>
  <h3>Recommendation</h3>
  <h3>Information</h3>
  <h3>Skillsets</h3>
<br/>
