<li class= "dropdown">
  <a data-toggle= "dropdown" class="dropdown-togle" href="/experiences">Experience <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li>
      <a href="/companies"> Company <i class="icon-arrow-right"></i></a>
      <ul class="dropdown-menu sub-menu">
        <li>
          <a href="/positions"> Position </a>
        </li>
      </ul>
    </li>
  </ul>
</li>
<li class= "dropdown">
  <a data-toggle= "dropdown" class="dropdown-togle" href="/educations">Education <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li>
      <a href="/schools"> School </a>
    </li>
  </ul>
</li>
<li class= "dropdown">
  <a data-toggle= "dropdown" class="dropdown-togle" href="/recommendations">Recommendation <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li>
      <a href="/people"> People </a>
    </li>
  </ul>
</li>
<li>
  <a  href="/information">Information </a>
</li>
<li class= "dropdown">
  <a data-toggle= "dropdown" class="dropdown-togle" href="/skillsets">Skillsets <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li>
      <a href="/skills"> Skills </a>
    </li>
  </ul>
</li>
